// Lang switcher
.lang-switcher {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;

	a {
		display: flex;
		padding: 1rem;

		@include tabletAndUp() {
			padding: 2rem;
		}
	}
	a:first-child {
		padding-right: 0.25rem;
	}
	a:last-child {
		padding-left: 0.25rem;
	}
	a {
		opacity: 0.5;
		
		&:hover {
			opacity: 0.8;
		}
		&.isActive {
			opacity: 1;
		}
	}
	.divider {
		padding: 1rem 0;
		opacity: 0.5;
		cursor: default;

		@include tabletAndUp() {
			padding: 2rem 0;
		}
	}
}
