// Section
.section {
	display: flex;
	flex-direction: column;
	// min-height: 100vh;
	overflow-x: hidden;

	// Section Header
	&__header {
		height: 6.75rem;
	}

	// Section Block
	&__block {
		flex: 1;
		padding: 2rem;

		@include tabletAndUp() {
			padding: 2rem 4rem;
		}
	}


	&#intro {
		min-height: 100vh;
		#canvas {
			opacity: 0.2;
		}
	}

	&#releases, &#artists {
		min-height: 100vh;
		@include vertical-gradient(rgba($white, 0), rgba($white, 0.1));
	}

	// Label section
	&#label {
		min-height: 100vh;
		background: rgba($white, 0.25);

		.section__header h2 {
			margin-left: percentage(2/3);
		}
	}
}

