// Section
.section {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;

	// Section Header
	&__header h2 {
		max-width: percentage(1/3);
		padding: 1rem;

		@include tabletAndUp() {
			padding: 2rem 4rem;
		}
	}

	// Section Block
	&__block {
		flex: 1;
		padding: 2rem;

		@include tabletAndUp() {
			padding: 4rem;
		}
	}

	// Releases section
	&#releases {
		@include tabletAndUp() {
			.section__block {
				max-width: percentage(1/3);
			}
		}
	}

	// Artists section
	&#artists {
		.section__header h2 {
			margin-left: percentage(1/3);
		}
		@include tabletAndUp() {
			.section__block {
				max-width: percentage(1/3);
				margin-left: percentage(1/3);
			}
		}
	}

	// Label section
	&#label {
		background: rgba($white, 0.25);

		.section__header h2 {
			margin-left: percentage(2/3);
		}
	}
}

