<!DOCTYPE html>
<html lang="{{ site.lang | default: site.default_lang }}">

	{% include head.html %}

  <body>

    <section class="section" id="intro">

      <div id="canvas"></div>

      <h1><span class="text">{{ site.title }}</span><img class="logo" src="images/helikon-logo.svg" alt="" /></h1>

      <div class="lang-switcher">
        {% if site.lang == "en" %}
          <a href="{{ site.baseurl_root }}{{ page.url }}" >{{ site.data.lang.tr.lang_label }}</a>
        {% else %}
          <a href="{{ site.baseurl_root }}en{{ page.url}}" >{{ site.data.lang.en.lang_label }}</a>
        {% endif %}
      </div>
    </section>
    
    {% include nav.html %}

    <section class="section" id="releases">

      <div class="row row--nopadding">
        <div class="col-xs-12 col-sm-4">

          <div class="section__header"></div>

          <div class="section__block">
            <ul class="list">
              {% for release in site.releases %}

                <li>
                  <a class="item" href="#{{ release.slug }}">
                    {% if release.image.size > 0 %}
                      <figure class="thumb thumb--release"><img src="{{ release.image | replace: '/uploads', 'uploads' }}" alt="" /></figure>
                    {% else %}
                      <figure class="thumb thumb--release thumb--empty"></figure>
                    {% endif %}
                    <span class="item__info">
                      <h4>{{ release.title | capitalize }}</h4>
                      <p class="meta">{{ release.year }}</p>
                    </span>
                  </a>
                </li>

                <div class="modal" id="{{ release.slug }}">
                  <a href="javascript:closeModal()" class="modal__close">&times;</a>
                  <div class="modal__content">

                    <h2>{{ release.title }}</h2>

                    {% if release.spotify_id.size > 0 %}
                      <div class="modal__player">
                        <iframe src="https://open.spotify.com/embed?uri=spotify:album:{{ release.spotify_id }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                      </div>
                    {% endif %}

                    <p class="meta"><a href="javascript:openModal('#kutsal-kaan-bilgin')">Kutsal Kaan Bilgin</a>, 2017</p>

                    {% if site.lang == "en" %}
                      {{ release.content_en | markdownify }}
                    {% else %}
                      {{ release.content_tr | markdownify }}
                    {% endif %}

                  </div>

                  {% if release.image.size > 0 %}
                    <figure class="modal__figure"><img src="{{ release.image | replace: '/uploads', 'uploads' }}" alt="" /></figure>
                  {% endif %}

                </div>

              {% endfor %}
            </ul>
          </div>

        </div>
      </div>

    </section>

    <section class="section" id="artists">

      <div class="row row--nopadding">

        <div class="col-xs-12 col-sm-4 col-sm-offset-4">

          <div class="section__header"></div>

          <div class="section__block">
            
            <ul class="list">
              {% for artist in site.artists %}

                <li>
                  <a class="item" href="#{{ artist.slug }}">
                    {% if artist.image.size > 0 %}
                      <figure class="thumb thumb--artist"><img src="{{ artist.image | replace: '/uploads', 'uploads' }}" alt="" /></figure>
                    {% else %}
                      <figure class="thumb thumb--artist thumb--empty"></figure>
                    {% endif %}
                    <span class="item__info">
                      <h4>{{ artist.title }}</h4>
                    </span>
                  </a>
                </li>

                <div class="modal" id="{{ artist.slug }}">

                  <div class="modal__content">
                    <a href="javascript:closeModal()" class="modal__close">&times;</a>


                    <h2>{{ artist.title | capitalize }}</h2>

                    {% if artist.image.size > 0 %}
                      <figure class="figure"><img src="{{ artist.image | replace: '/uploads', 'uploads' }}" alt="" /></figure>
                    {% endif %}

                    {% if site.lang == "en" %}
                      {{ artist.content_en | markdownify }}
                    {% else %}
                      {{ artist.content_tr | markdownify }}
                    {% endif %}

                  </div>

                  {% if artist.image.size > 0 %}
                    <figure class="modal__figure"><img src="{{ artist.image | replace: '/uploads', 'uploads' }}" alt="" /></figure>
                  {% endif %}

                </div>

              {% endfor %}
            </ul>

          </div>
        </div>
      </div>

    </section>

    {% assign sections = site.sections %}
    {% for section in sections %}
      {% unless section.published == false %}

        <section class="section" id="{{ section.slug }}">
          <div class="section__header"></div>
          {{ section.content }}
        </section>

      {% endunless %}
    {% endfor %}

  </body>

</html>
