<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{% include head.html %}

  <body>

    <section class="section" id="intro">

      <div id="canvas"></div>

      <h1><span class="text">Helikon</span><img class="logo" src="images/helikon-logo.svg" alt="" /></h1>

      <div class="lang-switcher">
        {% if site.lang == "en" %}
          {% capture link2 %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
          <a href="{{ link2 }}" >{% t global.turkish %}</a>
        {% else %}
          {% capture link1 %}{{ site.baseurl_root }}en{{ page.url}}{% endcapture %}
          <a href="{{ link1 }}" >{% t global.english %}</a>
        {% endif %}
      </div>
    </section>
    
    {% include nav.html %}

    <div style="padding: 3rem;">
    </div>

    <section class="section" id="releases">
      <div class="block">

        <h2>RELEASES</h2>
        
        <ul class="list">
          {% for release in site.releases %}

            <li>
              <a class="item" href="#{{ release.slug }}">
                <figure class="thumb thumb--release"><img src="images/onur-ertem.jpg" alt="" /></figure>
                <span class="item__info">
                  <h4>{{ release.title }}</h4>
                  {{ release.year }}
                </span>
              </a>
            </li>

            <div class="modal" id="{{ release.slug }}">
              <a href="javascript:closeModal()" class="modal__close">&times;</a>
              <h2>{{ release.name }}</h2>
              <p class="meta"><a href="#kutsal-kaan-bilgin">Kutsal Kaan Bilgin</a>, 2017</p>

              {{ release.content | markdownify }}

              <div class="modal__player">
                <iframe src="https://open.spotify.com/embed?uri=spotify:album:4VYVS5UYXZFPLJg2spKJ0j" width="300" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
            </div>

          {% endfor %}
        </ul>

      </div>

    </section>

    <section class="section" id="artists">
      <div class="block">

        <h2>ARTISTS</h2>

        <ul class="list">
          {% for artist in site.artists %}

            <li>
              <a class="item" href="#{{ artist.slug }}">
                <figure class="thumb thumb--artist"><img src="images/onur-ertem.jpg" alt="" /></figure>
                <span class="item__info">
                  <h4>{{ artist.name }}</h4>
                  {{ artist.position }}
                </span>
              </a>
            </li>

            <div class="modal" id="{{ artist.slug }}">
              <a href="javascript:closeModal()" class="modal__close">&times;</a>
              <h2>{{ artist.name }}</h2>
              <p class="meta"><a href="#kutsal-kaan-bilgin">Kutsal Kaan Bilgin</a>, 2017</p>
              {{ artist.content | markdownify }}
            </div>

          {% endfor %}
        </ul>

      </div>
    </section>

    <section class="section" id="label">
      <div class="block">

        <h2>LABEL</h2>

        <p>2017 yılında İstanbul’da kurulan Helikon, ismini 1952’de Ankara’da kurulan, kurucuları arasında besteciler Bülent Arel ve İlhan Usmanbaş’ın bulunduğu Helikon Derneği’nden alır. Dernek, 1955 yılında yaşanan 6-7 Eylül Olayları sonrasında adının Yunanca kaynaklı olmasından ötürü sıkı yönetim tarafından kapatılmıştır.</p>

        <p>Helikon, mitolojide ilham perileri için kutsal sayılan Aganippe ve Hippocrene kaynaklarının bulunduğu dağın adıdır. Şiirsel ilhamla ilişkilendirilir.</p>

        </p>

      </div>
    </section>

  </body>

</html>
