<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{% include head.html %}

  <body>

    <section class="section" id="intro">

      <div id="canvas"></div>

      <h1><span class="text">Helikon</span><img class="logo" src="images/helikon-logo.svg" alt="" /></h1>

      <div class="lang-switcher">
        {% if site.lang == "en" %}
          {% capture link2 %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
          <a href="{{ link2 }}" >{% t global.turkish %}</a>
        {% else %}
          {% capture link1 %}{{ site.baseurl_root }}en{{ page.url}}{% endcapture %}
          <a href="{{ link1 }}" >{% t global.english %}</a>
        {% endif %}
      </div>
    </section>
    
    {% include nav.html %}

    <section class="section" id="releases">
      <div class="block">

        <h2>RELEASES</h2>

        <ul class="list">
          <li>
            <a class="item" href="#zaman-disi-yasam">
              <figure class="thumb thumb--release"><img src="https://i.scdn.co/image/8d75166e5dce0ca3ff954eea32003ce180a28010" alt="" /></figure>
              <span class="item__info">
                <h4>Zaman Dışı Yaşam</h4>
                <p class="item__meta">Kutsal Kaan Bilgin<br>2017</p>
              </span>
            </a>
          </li>
        </ul>

      </div>

      <div class="modal" id="zaman-disi-yasam">
        <a href="javascript:closeModal()" class="modal__close">&times;</a>
        <h3>Zaman Dışı Yaşam</h3>
        <p class="meta"><a href="#kutsal-kaan-bilgin">Kutsal Kaan Bilgin</a>, 2017</p>
        <p>This first album consists of 10 songs written by the artist between 2007 and 2013. The album was recorded at Café Music Studios, London in 2013-2014. Performers are the artist himself on vocals, guitar and piano; Dave Weckl, Nate Wood (Kneebody, Tigran Hamasyon, fOUR) and Volkan Öktem on drums; Steve Lewinson (Simply Red, Kylie Minogue) on bass and Zeynep Kaya (Hermetic Delight) and Angir Porter on backing vocals.</p>

        <p>The album is named after a book by the Turkish author Tezer Özlü, in which the protagonist female character goes through a journey from the old-Yugoslavian city of Niš to S.S. Belbo of Italy.</p>

        <p>Songs are about the inner journey of the artist during the time spent in 2007-2013 in between Ankara, İstanbul and London. Songs and the production techniques emphasize the timeless life of the self.</p>

        <p>Cover art was designed by the Guatemalan graphic designer Jorge Letona.</p>

        <div class="modal__player">
          <iframe src="https://open.spotify.com/embed?uri=spotify:album:4VYVS5UYXZFPLJg2spKJ0j" width="300" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>

    </section>

    <section class="section" id="artists">
      <div class="block">

        <h2>ARTISTS</h2>
        <ul class="list">
          <li>
            <a class="item" href="#onur-ertem">
              <figure class="thumb thumb--artist"><img src="images/onur-ertem.jpg" alt="" /></figure>
              <span class="item__info">
                <h4>Onur Ertem</h4>
              </span>
            </a>
          </li>
          <li>
            <a class="item" href="#kutsal-kaan-bilgin">
              <figure class="thumb thumb--artist"><img src="images/kutsal-kaan-bilgin.jpg" alt="" /></figure>
              <span class="item__info">
                <h4>Kutsal Kaan Bilgin</h4>
              </span>
            </a>
          </li>
        </ul>

      </div>
    </section>

    <section class="section" id="label">
      <div class="block">

        <h2>LABEL</h2>

        <p>2017 yılında İstanbul’da kurulan Helikon, ismini 1952’de Ankara’da kurulan, kurucuları arasında besteciler Bülent Arel ve İlhan Usmanbaş’ın bulunduğu Helikon Derneği’nden alır. Dernek, 1955 yılında yaşanan 6-7 Eylül Olayları sonrasında adının Yunanca kaynaklı olmasından ötürü sıkı yönetim tarafından kapatılmıştır.</p>

        <p>Helikon, mitolojide ilham perileri için kutsal sayılan Aganippe ve Hippocrene kaynaklarının bulunduğu dağın adıdır. Şiirsel ilhamla ilişkilendirilir.</p>

        </p>

      </div>
    </section>

  </body>

</html>
