// Media queries
@mixin phoneAndUp() {
  @media screen and (min-width: 21em) {
    @content;
  }
}
@mixin bigPhoneAndUp() {
  @media screen and (min-width: 30em) {
    @content;
  }
}
@mixin tabletAndUp() {
  @media screen and (min-width: 48em) {
    @content;
  }
}
@mixin desktopAndUp() {
  @media screen and (min-width: 64em) {
    @content;
  }
}

// Vertical gradient
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/303029+0,f1f1f4+50,f1f1f4+100
@mixin vertical-gradient($start: $dark, $end: $white) {
  background: -moz-linear-gradient(top, $start 0%, $end 100%); // FF3.6-15
  background: -webkit-linear-gradient(top, $start 0%, $end 100%); // Chrome10-25,Safari5.1-6
  background: linear-gradient(to bottom, $start 0%, $end 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 ); // IE6-9
}
